* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

html,
body,
#app {
  @apply h-full;
}

html {
  font-size: 16px;
  line-height: normal;
}

body {
  @apply text-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, svg {
  display: initial;
}

label {
  @apply block text-sm font-semibold text-gray-600;
}
